<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Doctors</h1>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Doctor Id</th>
                <th>Name</th>
                <th>Specialization</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.id}"></td>
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.specialization}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/" class="btn btn-secondary mt-3">Home</a>
</div>
</body>
</html>
