<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Hospital Management System</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="styles.css" rel="stylesheet">
</head>

<body>
<div class="container text-center">
    <h1 class="mt-5">Hospital Management System</h1>
    <div class="row mt-5">
        <div class="col-md-4 mb-4">
            <a href="/patients" class="btn btn-primary btn-lg btn-block animated-button">Patients</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="/doctors" class="btn btn-primary btn-lg btn-block animated-button">Doctors</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="/appointments" class="btn btn-primary btn-lg btn-block animated-button">Appointments</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="/book-appointment" class="btn btn-primary btn-lg btn-block animated-button">Book Appointment</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="/add-patient" class="btn btn-primary btn-lg btn-block animated-button">Add Patient</a>
        </div>
    </div>
</div>
</body>
</html>