<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Patients</h1>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Patient Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.age}"></td>
                <td th:text="${patient.gender}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/add-patient" class="btn btn-primary mt-3">Add Patient</a>
    <a href="/" class="btn btn-secondary mt-3">Home</a>
</div>
</body>
</html>
